<div id="<%= dom_id evidence %>">
  <p>
    <strong>Date recorded:</strong>
    <%= evidence.date_recorded %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= evidence.summary %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= evidence.link %>
  </p>

</div>
