<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %>
    <ul>
      <% person.groups.each do |group| %>
        <li>
          <%= group.name %>
        </li>
      <% end %>
    </ul>
  </p>

</div>
