:concurrency: 45
:queues:
  - [critical, 5]
  - [default, 2]
  - [low, 1]

:scheduler:
  :schedule:
    # Every day fetch all AusTender contracts
    ingest_contracts_date:
      cron: '0 2 * * *' # every day ay 2am
      class: IngestContractsDateJob
    # Every year fetch all ACNC listed charities (CSV Download)
    ingest_charities_dataset_csv:
      cron: '0 0 1 3 *' # every year on March 1st at midnight
      class: IngestCharitiesDatasetCsv
