:concurrency: 2
:queues:
  - [critical, 5]
  - [default, 2]
  - [low, 1]

:scheduler:
  :schedule:
    # Every year fetch all ACNC listed charities (CSV Download)
    ingest_charities_dataset_csv:
      cron: '0 0 1 3 *' # Every year on March 1st at midnight
      class: IngestCharitiesDatasetCsv
    # Every day fetch all AusTender contracts
    # ingest_contracts_date:
    #   cron: '0 2 * * *' # Every day ay 2am
    #   class: IngestContractsDateJob
    # Every day run the HydrateNodesCountJob
    refresh_nodes_count_job:
      cron: '0 4 * * *' # Every day at 4am
      class: RefreshNodesCountJob

