:concurrency: 6 # delibertely low to preserve CPU and memory on low spec server
:queues:
  - [critical, 5]
  - [default, 2]
  - [low, 1]

:scheduler:
  :schedule:
    # Every day fetch all AusTender contracts
    ingest_contracts_date:
      cron: '0 2 * * *' # every day ay 2am
      class: IngestContractsDateJob
    # Every year fetch all ACNC listed charities (CSV Download)
    ingest_charities_dataset_csv:
      cron: '0 0 1 3 *' # every year on March 1st at midnight
      class: IngestCharitiesDatasetCsv
    # Every day fetch all the people from the ACNC Charities website (scraping)
    ingest_charities_people:
      cron: '0 4 * * *' # every day ay 4am
      class: IngestCharitiesPeopleJob
    # Every week fetch the people of any charities which have no people (scraping) (there should be no charities missing people)
    ingest_twenty_charities_missing_people:
      cron: '0 3 * * 0' # every week on Sunday at 3am
      class: IngestTwentyCharitiesMissingPeopleJob
