// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
.active_admin {
	@import "active_admin/mixins";
	@import "active_admin/base";

}

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.active_admin {
	* {
		// border: red solid 1px;
	}

	#wrapper #title_bar {
		width: 100%;
		padding: 10px 0 10px 20px;
		border: none;
		box-sizing: border-box;
	}
	// Your custom styles here
	// For example, to change the default status-tag color:
	// .status_tag { background: #6090DB; }

	.filter_date_range {
		width: 85px;
	}

	.flash {
		margin: 10px 0;
		padding: 1rem;
		border-radius: 5px;
		background-color: goldenrod;
	}

	#title_bar h2 {
		font-size: 1.5rem;
	}
}

