/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  /* border: 1px red solid; */
}
button, .badge {
  text-decoration: none;
}

.flex-normal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.flex-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.w-100 {
  width: 100%;
}

.heading {
  margin: 25px 0px;
}

.direct-descendents {
  margin: 50px 0px;
}

.jumbotron {
  padding: 20px;
}

.person .card-body {
  padding: 0;
}

.btn-smaller {
  font-size: 0.675rem;
}

.list-group-item.horizontal-button {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;

  margin-right: 5px;
}

.list-group-horizontal>.horizontal-button+.list-group-item {
  border-top-width: 1px;
  border-left-width: 1px;
}

.results {
  margin-top: 20px;
}

#suggestions .form-control {
  width: 100%;
}

.graph {
  margin-top: 20px;
  padding: 2rem 1rem;
  position: relative;
}

.gentle-link {
  color: rgb(175, 175, 175);
  font-style: italic;
  text-decoration: none;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}

.brand-text {
  font-size: 1.75rem;
}

#searchbox-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.column-heading {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid #007bff;
  /* Bootstrap primary color */
  padding-bottom: 5px;
}

@media (max-width: 1000px) {
  .desktop-only {
    display: none;
  }
}

@media (min-width: 1000px) {
  .mobile-only {
    display: none;
  }
}

.grey {
  color: grey;
  font-style: italic;
}

.wide-container {
  max-width: 95vw;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.toast.solid-background {
  background-color: whitesmoke !important;
}

.vis-network {
  border: 1px solid #d6d6d6;
}

.highlight-row {
  background-color: #6face8;
}

.pagination {
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .label-row {
  }
}

.equal-height {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.bottom-text {
  margin-top: auto;
}

.vertical-centre-value {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.no-border-table {
  border-collapse: collapse;
  width: 100%;
}

.no-border-table td {
  border: none;
  padding: 5px;
}

.font-italic {
  font-style: italic;
}

.btn-collection {
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
}